 .u-section-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('images/tt-min.jpg'), url("images/tt-min.jpg");
  background-position: 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover, cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 815px;
}

.u-section-1 .u-text-1 {
  margin: 45px auto 0;
}

.u-section-1 .u-list-1 {
  width: 1139px;
  margin: 85px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 473px;
  grid-auto-columns: calc(25% - 15px);
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  transition-duration: 0.5s;
  --radius: 30px;
  border-style: solid;
}

.u-section-1 .u-container-layout-1 {
  padding: 27px 30px;
}

.u-section-1 .u-icon-1 {
  height: 95px;
  width: 95px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  background-image: linear-gradient(#e8b284, #ee1c26);
  margin: 0 auto;
  padding: 18px;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 36px 0 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.125rem;
  margin: 26px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: 52px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-2 {
  transition-duration: 0.5s;
  --radius: 30px;
  border-style: solid;
}

.u-section-1 .u-container-layout-2 {
  padding: 27px 30px;
}

.u-section-1 .u-icon-2 {
  height: 95px;
  width: 95px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  background-image: linear-gradient(#e8b284, #ee1c26);
  margin: 0 auto;
  padding: 18px;
}

.u-section-1 .u-text-4 {
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 36px 0 0;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.125rem;
  margin: 26px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: 52px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-3 {
  transition-duration: 0.5s;
  --radius: 30px;
  border-style: solid;
}

.u-section-1 .u-container-layout-3 {
  padding: 27px 30px;
}

.u-section-1 .u-icon-3 {
  height: 95px;
  width: 95px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  background-image: linear-gradient(#e8b284, #ee1c26);
  margin: 0 auto;
  padding: 18px;
}

.u-section-1 .u-text-6 {
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 36px 0 0;
}

.u-section-1 .u-text-7 {
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.125rem;
  margin: 26px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  margin: 52px auto 0;
  padding: 0;
}

.u-section-1 .u-list-item-4 {
  transition-duration: 0.5s;
  --radius: 30px;
  border-style: solid;
}

.u-section-1 .u-container-layout-4 {
  padding: 27px 30px;
}

.u-section-1 .u-icon-4 {
  height: 95px;
  width: 95px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  background-image: linear-gradient(#e8b284, #ee1c26);
  margin: 0 auto;
  padding: 18px;
}

.u-section-1 .u-text-8 {
  background-image: none;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 36px 0 0;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.125rem;
  margin: 26px 0 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  margin: 52px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 386px;
  }

  .u-section-1 .u-icon-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: -11px;
  }

  .u-section-1 .u-icon-2 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: -11px;
  }

  .u-section-1 .u-icon-3 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: -11px;
  }

  .u-section-1 .u-icon-4 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: -11px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 1248px;
    grid-auto-columns: calc(50% - 10px);
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 243px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

.u-section-1 .u-icon-1,
.u-section-1 .u-icon-1:before,
.u-section-1 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-1 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-1 .u-icon-2,
.u-section-1 .u-icon-2:before,
.u-section-1 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-1 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-1 .u-icon-3,
.u-section-1 .u-icon-3:before,
.u-section-1 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-1 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-1 .u-icon-4,
.u-section-1 .u-icon-4:before,
.u-section-1 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-1 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: translateX(0px) translateY(-5px) !important;
} .u-section-2 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('images/image13.png'), url("images/image13.png");
  background-position: 50% 50%, 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover, cover, cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 793px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 620px;
  width: 505px;
  margin: 0 auto 60px 307px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 19px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 19px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 19px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 19px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 17px;
  width: 40px;
  height: 40px;
  top: 205px;
  right: auto;
  padding: 4px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 205px;
  left: auto;
  right: 17px;
  padding: 4px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 14px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-2 .u-gallery-1 {
    margin-left: 215px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 11px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-2 .u-gallery-1 {
    margin-left: 35px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 8px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-2 .u-gallery-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-carousel-control-1 {
    left: 5px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: 5px;
  }
}